In [2]:
num1 = 25
print(type(num1))

<class 'int'>

In [3]:
num2 = float(5)
print(type(num2))

<class 'float'>

In [4]:
print(num2)

5.0

In [5]:
word = '15'
print(float(word))

15.0

In [6]:
name = input('please provide your name:')

please provide your name:seyi

In [7]:
age = int(input('please provide your age:'))

please provide your age:15

In [8]:
num1 = 25
num2 = 15

print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)
print(num1 % num2)
print(num1 // num2)
print(num1 ** num2)

40
10
1.6666666666666667
375
10
1
931322574615478515625

In [9]:
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

True
False
True
False
False
True

In [10]:
print(num1 >= num2 and num1< num2)
print(num1 >= num2 or num1< num2)
print(not num1)

False
True
False

In [11]:
word = 'python'
print('p' in word)
print('P' in word)

True
False

In [12]:
print(num1 is num2)
print(num1 is not num2)

False
True

In [15]:
cloth = 50
cp = 6000
sp = 150
tsp = sp * cloth
profit = tsp - cp
print(f'the profit made on 50 meters squard cloth is {profit}')

the profit made on 50 meters squard cloth is 1500

In [17]:
tin = 96
cp = 3360
sp = 50
tsp = sp * tin
profit = tsp - cp
print(f'the profit made on 96 tin of milk is {profit}')

the profit made on 96 tin of milk is 1440

In [ ]:
tomatoes = 1basket
cp = 1800
sp = 1565
print