In [36]:
x = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
result = reversed(x)
result = tuple(result)
print(result)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [66]:
number = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
number[9]

58

In [8]:
number = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
print(number.count(55))

5

In [57]:
number =(46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
number[6],number[13],number[19]

(49, 57, 57)

number 2

In [61]:
list = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
list.reverse()
print(list)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [65]:
list[9]

58

In [67]:
print(list.count(55))

5

In [68]:
list[6],list[13],list[19]

(49, 57, 57)

In [70]:
list.insert(7,'69')
print(list)

[46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [73]:
list.extend(list)
print(list)

[46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

dictionary

In [74]:
footballclub = {
    'location',
    'managersname',
    'clubcaptain',
    'networth',
    'clubformation'
}

In [76]:
footballclub = {
    'psg':['paris','paul logan','jesus lookman',156,4-4-3],
    'arsnal':['london','dave milles','naymar jnr',156,4-3-3],
     'mancity':['germany','merci lionel','paul pougba',169,4-3-4],
     'manunited':['england','beckharm harry','williams webstar',160,3-4-4],
     'chelsea':['france','saint west','kanye davidson',170,4-4-3],
    'southhamthon':['portugal','mo shala','john wikee',156,3-4-4],
    'leed':['ukrain''joel lizzo','justin jenner',156,4-4-3],
     'liverpool':['dubai''richard marvel','tomeson king',169,4-3-4],
     'bayanmunich':['qater''rob disik','jaden smith',160,3-4-3],
     'real madrid':['tukey''mo shala','scort mark',170,3-4-4],
}