In [10]:
number = (7,8,15,10,23,20,15,55,68,15,25,80,15,26,48,79)

In [2]:
print(type(number))

<class 'tuple'>

In [3]:
print(len(number))

16

In [4]:
number[8]# accesing a value based on its index location from the front

68

In [5]:
number[-8]#accesing a value based on its index location from the back

68

In [6]:
number[8:11]#acesing range of value for tuple

(68, 15, 25)

In [12]:
print(79 in number)

True

In [13]:
print(number.count(15))

4

In [14]:
print(number.index(79))

15

In [2]:
fruits = ['mango','cherry','apple','lemon','pawpaw','orange']

In [3]:
fruits.append('banana')# will add the new value at the end of the list
print(fruits)

['mango', 'cherry', 'apple', 'lemon', 'pawpaw', 'orange', 'banana']

In [4]:
fruits2 = ['orange','grape','apple','lemon','orange']
fruits.extend(fruits2)#will add all values from an existing list or tuple to our list
print(fruits)

['mango', 'cherry', 'apple', 'lemon', 'pawpaw', 'orange', 'banana', 'orange', 'grape', 'apple', 'lemon', 'orange']

In [5]:
fruits.sort()# will sort all values in acesending order
print(fruits)

['apple', 'apple', 'banana', 'cherry', 'grape', 'lemon', 'lemon', 'mango', 'orange', 'orange', 'orange', 'pawpaw']

In [6]:
fruits.insert(5,'pear')#will add new value in the specified index location
print(fruits)

['apple', 'apple', 'banana', 'cherry', 'grape', 'pear', 'lemon', 'lemon', 'mango', 'orange', 'orange', 'orange', 'pawpaw']

In [7]:
fruits.reverse()#will sort our values in decending order
print(fruits)

['pawpaw', 'orange', 'orange', 'orange', 'mango', 'lemon', 'lemon', 'pear', 'grape', 'cherry', 'banana', 'apple', 'apple']

In [8]:
fruits.pop()#will always drop the last value in the list
print(fruits)

['pawpaw', 'orange', 'orange', 'orange', 'mango', 'lemon', 'lemon', 'pear', 'grape', 'cherry', 'banana', 'apple']

In [24]:
fruits.pop(5)#will always drop the value of the location that is specified in the list
print(fruits)

['apple', 'apple', 'banana', 'cherry', 'grape', 'lemon', 'lemon', 'mango', 'orange', 'orange', 'orange']

In [25]:
fruits.remove('orange')#will always drop the value in the list
print(fruits)

['apple', 'apple', 'banana', 'cherry', 'grape', 'lemon', 'lemon', 'mango', 'orange', 'orange']

In [27]:
fruits_copy = fruits.copy() #will make a duplicate of our list and assign it to the variable specified
print(fruits_copy)

['apple', 'apple', 'banana', 'cherry', 'grape', 'lemon', 'lemon', 'mango', 'orange', 'orange']

In [29]:
fruits_copy.clear() 
print(fruits_copy)

[]

In [30]:
del(fruits_copy)# will delete the entire list
print(fruits_copy)

NameError: name 'fruits_copy' is not defined

In [31]:
record = {
    'name':'simon',
    'gender':'male',
    'age':25,
    'hieght':1.75,
    'weight':65
}

In [33]:
print(record['age'])

25

In [34]:
print(record.keys())#will return all the keys present in the dictionary

dict_keys(['name', 'gender', 'age', 'hieght', 'weight'])

In [35]:
print(record.values())#will return all the values present in the dictionary

dict_values(['simon', 'male', 25, 1.75, 65])

In [36]:
print(record.items())#will return all the keys and values present in the dictionary

dict_items([('name', 'simon'), ('gender', 'male'), ('age', 25), ('hieght', 1.75), ('weight', 65)])

In [39]:
r={'hieght':1.82}
record.update(r)#will update the old value to the new value specified
print(record)

{'name': 'simon', 'gender': 'male', 'age': 25, 'hieght': 1.82, 'weight': 65}

In [40]:
details = {
    'student1':['ade ania','male',15,1.56,50],
    'student2':['mary akpan','female',14,1.56,56],
     'student3':['joel okoro','male',17,1.69,50],
     'student4':['adeze boniface','female',15,1.60,55],
     'student5':['musa lawal','male',15,1.70,50],
}

In [41]:
print(details['student2'][3])

1.56